<launch>

  <remap from="/kitti/camera_color_left/camera_info" to="/sensor/camera/color/left/camera_info" />
  <remap from="/kitti/camera_color_left/image_raw" to="/sensor/camera/color/left/image_rect" />
  <remap from="/kitti/camera_color_right/camera_info" to="/sensor/camera/color/right/camera_info" />
  <remap from="/kitti/camera_color_right/image_raw" to="/sensor/camera/color/right/image_rect" />
  <remap from="/kitti/camera_gray_left/camera_info" to="/sensor/camera/grayscale/left/camera_info" />
  <remap from="/kitti/camera_gray_left/image_raw" to="/sensor/camera/grayscale/left/image_rect" />
  <remap from="/kitti/camera_gray_right/camera_info" to="/sensor/camera/grayscale/right/camera_info" />
  <remap from="/kitti/camera_gray_right/image_raw" to="/sensor/camera/grayscale/right/image_rect" />
  <remap from="/kitti/velo/pointcloud" to="/sensor/velodyne/cloud_euclidean" />

</launch>
